@import url("../vendor/normalize.css");
@import url("./fonts.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");

body {
  background-color: #111;
  color: #fff;
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  body {
    margin: 40px;
  }
}

@media screen and (max-width: 320px) {
  body {
    outline: 1px solid red;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
